extends ../layouts/content-container.layout

block content
    .jumbotron
        .container
            h1 #{title}
            p
                | This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
            p
                a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
    .container
        form.form-horizontal(method="post" action="contact/send")
            .form-group
                label.col-sm-2.control-label(for='inputEmail1') Name
                .col-sm-10
                    input#inputEmail1.form-control(type='text', name='name' placeholder='Name')
            .form-group
                label.col-sm-2.control-label(for='inputEmail2') Email
                .col-sm-10
                    input#inputEmail2.form-control(type='email', name='email' placeholder='Email')
            .form-group
                label.col-sm-2.control-label(for='inputEmail3') Message
                .col-sm-10
                    textarea#inputEmail3.form-control(type='text', rows='3', name='message' placeholder='Message')
            .form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-success(type='submit') Send







