extends layout

block content
  .jumbotron
    h1 Welcome to TextAnyone!
    p Don't have a phone, perhaps you can't afford it, no problem! We got you covered. Just log in and send short messages to anyone very quickly
    p
      a.btn.btn-primary.btn-lg(href='#', role='button') Text Away
