extends layout

block content
    .jumbotron
        h1 #{title}
        p Welcome to #{title}
        p
            a.btn.btn-primary.btn-lg(href='/users/dashboard', role='button') Learn more
    ul.list-group
        li.list-group-item
            strong Name:
            p Nazmuz Shakib Pranto



